---
import { Badge } from "@/components/ui/badge";
import { formatDate } from "@/lib/utils";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"blog">;

const post = Astro.props;
---

<article class="group space-y-4">
  <div class="flex space-x-4">
    <div class="flex-auto w-32">
      <div class="flex flex-col space-y-2 items-end">
        <a href={`/blog/category/${post.data.category}`}>
          <Badge
            radius="md"
            className="capitalize"
            transition:name={"category-" + post.slug}
          >
            {post.data.category}
          </Badge>
        </a>
      </div>
    </div>
    <div class="flex-auto w-64">
      <div class="flex flex-col">
        <span
          class="font-medium text-muted-foreground"
          transition:name={"date-" + post.slug}
        >
          {formatDate(post.data.pubDate)}
        </span>
        <a href={`/blog/${post.slug}/`} class="group-hover:underline">
          <h2
            class="font-heading text-xl md:text-2xl leading-snug line-clamp-3 align-text-top"
            transition:name={"title-" + post.slug}
          >
            {post.data.title}
          </h2>
        </a>
        <span class="font-medium" transition:name={"description-" + post.slug}>
          {post.data.description}
        </span>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-between"></div>
</article>
